<main class="main">
<div> 
  <!-- <p>App root</p> -->
  <div class="container align-centre">
    <mat-form-field>
      <mat-label>
        Character
      </mat-label>
      <input matInput type="text" placeholder="Character" [formControl]="formControl" [(ngModel)]="inputCharacter" [matAutocomplete]="auto" (keyup.enter)="goCharacter(inputCharacter)"/>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let i of filteredOptions | async" [value]="i">
          {{i}}
        </mat-option> 
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <!-- <router-outlet></router-outlet> -->
  <router-outlet />
</div>
</main>
